<!DOCTYPE html>
  <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <style>
      html {
        padding: 0;
        margin: 0;
     }

      body {
         background-color: rgb(232, 241, 194);
        position: relative;
        font-family: "Times New Roman", Times, serif;
        width: 100%;
        margin: 0;
      }
      section-2{
        column-count:3;
      }
    </style>
     <script>
    function generateUUID() { // Public Domain/MIT
    var d = new Date().getTime();//Timestamp
    var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now()*1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16;//random number between 0 and 16
        if(d > 0){//Use timestamp until depleted
            r = (d + r)%16 | 0;
            d = Math.floor(d/16);
        } else {//Use microseconds since page-load if supported
            r = (d2 + r)%16 | 0;
            d2 = Math.floor(d2/16);
        }
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        
    });
}

var onClick = function(){
    var uuid = generateUUID();
    //document.getElementById('uuid').textContent = uuid;
    //document.body.innerHTML += '<form id="urlForm" action="/getURL" method="post"><input type="hidden" name="uid" value="'{{uuid}}'"></form>';
    document.getElementById("UI").value= uuid;
}
onClick();
    </script>
    </head>


    <body>
      
      <br>
    <form  align = "right" action="/category" id="author-form" method="POST">

      <select name ="catinput" style="font-size:15px;" id ="dropDownId">
          <option>Select Category</option>
          {{#each category}}
             <option value="{{this.categories}}">{{this.categories}}</option>
        
          {{/each}}    
      </select>
      <input class="SubmitButton" type="submit"  id="click" style="font-size:15px;" />
    </form>

    <form action ="/search"  align = "center" id="searchBook" method="POST">
       <input style="font-size:15px;" type="text"  class="searchForm" name="searchinput" placeholder="Search books here"> 
       <button style="font-size:15px" type ="submit">Search</button>

    </form>

    <p id="uuid"></p>
     <button id="generateUUID" onclick="onClick();">Generate UUID</button>
     <form id="urlForm" action="/getURL" method="post">
          <input type="text" style="font-size:15px;" id="UI" name="uid" placeholder="Generated UID appears here"value="">
          <button style="font-size:15px" type ="submit">CONFIRM</button>
      
      </form>
     
    

        <br>  
     <div class="section-1">
        <div class="Section-1-text">
            <center><h1>Welcome to ReShana's Book Inventory</h1>  
        </center>
        </div>
    </div>
    <div class="section-2">
        <h2>EXPLORE!!</h2>
        <table width="50" border="0" cols="3" align="center" cellspacing="0" cellpadding="25"
       <tr cols="3" align="center"></tr>
       
       {{#each results}}
          <div> <td>
        <img src="{{this.thumbnailUrl}}"width="200" height="200"/><br>
           <p>TITLE: {{this.title}}</p>
            <p>ISBN: {{this.isbn}}</p>
                <p>PAGECOUNT: {{this.pageCount}}</p>
                <p>PUBLISHEDDATE: {{this.publishedDate}}</p>
                <p>STATUS: {{this.status}}</p>
                <p>AUTHORS: {{this.authors}}</p>
                <p>CATEGORIES: {{this.categories}}</p>
                <p>PRICE: {{this.Price}}</p>
        
        </td> 
        </div>   
        {{/each}}
        </tr>
        </table>
       </center>
     </body>
     </frameset>
   </html>